#include<iostream>
#include<math.h>
using namespace std;
int main()
{
	int menu,n2=2;;
	float fac,sum,num,x,y,exp=1,e,res;
	fac=1;
	sum=1;
	do{
	cout<<"1.-Calcular el valor de la constante de e"<<endl;
	cout<<"2.-Calcular el valor de e^x"<<endl;
	cout<<"0.-salir: "<<endl;
	cin>>menu;


	if(menu==1)
	{
		cout<<"Dame el valor: "<<endl;
		cin>>num;
		for(int i=1; i<=num; i++)
		{
			fac=fac*i;
			sum+=1/fac;
		}
		cout<<sum<<endl;
		cout<<endl;
	}
	if(menu==2)
	{
		cout<<"Dame el valor de x:"<<endl;
		cin>>x;
		cout<<"Dame un numero para limite:"<<endl;
		cin>>y;
		for(int i=1; i<=y; i++)
		{
			fac*=i;
			e+=(1/fac);
			res=pow(e,x);
		}
		cout<<res<<endl;
		cout<<endl;
	}
}while(menu!=0);

}
